**/build
**/bin/
**/gen/
**/.idea/
/.idea/codeStyleSettings.xml
**/.gradle
**/local.properties
*.iml
*.iws
*.properties
*~
*.lock
*.swp
*.out
*.class
*.apk
*.ap_
*Thumbs.db
*.DS_Store
*.classpath
*.project
*.jar
*.log
.idea/misc.xml
app/app.iml