<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.teamelevenproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Buzz Movie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Team Eleven Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log In" />
        <activity
            android:name=".MovieSearch"
            android:label="Movie Search" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registration"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemListActivity"
            android:label="Movie Lists"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movieDetailDisplay"
            android:label="Movie Details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
